*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: monospace;
}
 body{
    background: linear-gradient(to left, #243642,#629584);
    color: #E2F1E7;
 }

 .wrapper{
    width: 85vw;
    min-height: 50vmin;
    padding: 50px 30px;
    background: linear-gradient(to right, #192831,#427765);
    transform: translate(-50%,-50%);
    position: absolute;
    top: 50%;
    left: 50%;
    display: grid;
    grid-template-columns: 5fr 7fr;
    border-radius: 10px;
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.7);
 }

 .editor{
    min-height: 35vmin;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 20px;
 }

 .editor label{
    font-size: 2.5vmin;
    color: #E2F1E7;
    font-weight: 400;
 }

 .editor input[type="range"]{
    display: block;
    width:100%;
    position: relative;
    margin-top: 5px;
    margin-bottom: 10px;
    appearance: none;
    background-color: transparent;

 }

 .editor input[type="range"]::-webkit-slider-runnable-track{
    height: 5px;
    width: 100%;
    cursor: pointer;
    background-color: #E2F1E7;
    border-radius: 5px;

 }

 .editor input[type="range"]::-webkit-slider-thumb{
    appearance: none;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: #8cc99f;
    cursor: pointer;
    margin-top: -5px;
 }

 .flip-buttons{
    display: flex;
    flex-direction: column;
    margin-top: 10px;

 }

 .flip-buttons .flip-option{
    margin-top: 10px;
 }

 .flip-option  input[type="radio"]{
    display: none;
 }

 .flip-option  input[type="radio"] + label {
    position: relative;
    padding-left: 30px;
    cursor: pointer;
 }

.flip-option input[type="radio"] + label::before{
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color:#628d70;
    transition: background-color 0.3s ease;
}
.flip-option input[type="radio"]:checked + label::before{
    background-color: ghostwhite;
    
}
 .result{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;

 }
 .result img{
    display: block;
   position: relative;
   max-width: calc(100% - 4vmin);
   margin: auto;
 }

 .img-container{
    display: none;
 }
 input[type="file"]{
    display: none;
 }

 .result label, .result #download-button{
    display: block;
    position: relative;
    margin: 0 auto;
    width: 220px;
    background: linear-gradient(to right, #FEFF9F,#A0D683);
    color: #192831;
    border: none;
    outline: none;
    text-align: center;
    padding: 16px 0;
    border-radius: 5px;
    cursor: pointer;
    font-size: 2.6vmin;
    font-weight: 400;
    text-decoration: none;

 }

